@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>SendGridKey: @ViewBag.sendGridkey</p>
</div>

<div class="text-center">
    <h1 class="display-4">Settings</h1>
    <p>@ViewBag.BottomLevelSetting</p>
</div>

<div class="text-center">
    <h1 class="display-4">Twilio</h1>
    <p>@ViewBag.TwilioAccountSid</p>
    <p>@ViewBag.TwilioApiKey</p>
</div>