<component name="libraryTable">
  <library name="springframework.webflow.spring.binding" type="repository">
    <properties maven-id="org.springframework.webflow:spring-binding:3.0.0" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/webflow/spring-binding/3.0.0/spring-binding-3.0.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/6.0.7/spring-context-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/6.0.7/spring-aop-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.0.7/spring-beans-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.7/spring-core-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.7/spring-jcl-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/6.0.7/spring-expression-6.0.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>