* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-color: hsl(228, 8%, 13%);
  color: white;
}

.container {
  margin: 1em;

  display: flex;
  flex-direction: column;
}

.container > * {
  margin: 1em;
}

.page-header ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

.page-header li,
.sidebar-toc li {
  padding: 0.5em;
  list-style-type: none;
  text-align: center;
}

.page-header a,
.sidebar-toc a {
  text-decoration: none;
  color: white;
}

.sidebar-toc ul {
  position: absolute;
  visibility: hidden;
}

.sidebar-toc:has(h2:hover) ul {
  position: relative;
  visibility: visible;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

article {
  padding: 1em;
  border: 2px solid rgb(0, 166, 255);
  border-radius: 20px;
}

.sidebar-toc {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .page-header ul {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
  }

  .page-header {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
  }

  footer {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
  }
}
