main {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-div {
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.red {
  color: red;
}

.green {
  color: green;
}

#grand-father {
  width: 50%;
  padding: 2em;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

#father {
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.child {
  border: 1px solid blue;
  width: 100px;
  aspect-ratio: 1;
}
