{:paths
 ["src" "target" "resources"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.11.54"}
  cljsjs/react-dom {:mvn/version "16.2.0-3"}
  cljsjs/react {:mvn/version "16.2.0-3"}
  reagent/reagent {:mvn/version "1.2.0"}
  com.bhauman/figwheel-main {:mvn/version "0.2.18"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}
  org.clojure/data.json {:mvn/version "2.5.0"}
  cheshire/cheshire {:mvn/version "5.13.0"}}

 :aliases
 {:dev
  {:main-opts ["--main"  "figwheel.main"
               "--build" "dev"]}}}