{
  "parserOptions": {
    "ecmaVersion": 13
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-new-object": 1,
    "object-shorthand": 1,
    "quote-props": 0,
    "prefer-object-spread": 1
  }
}